
<ion-grid style="margin: 8%;">
  <!-- first row -->
  <ion-row>
    <ion-col class="header">
      <ion-icon name="checkmark-circle-outline"></ion-icon>Successful {{type}}
    </ion-col>
  </ion-row>

  <!-- second row --> 
  <div class="bgcolor">
    <ion-row class="info">
      <ion-col size="4">
        User
      </ion-col>
      <ion-col>
      {{user}}
      <div>
        {{user_type}}
      </div>
      </ion-col>
    </ion-row>

    <!-- empty row -->
    <ion-row class="info">
      <ion-col>
        <!-- empty -->
      </ion-col>
      <ion-col>
          <!-- emptyy -->
      </ion-col>
    </ion-row>

    <!-- fourth row -->

    <ion-row class="info">
      <ion-col size="4">
        Shift from
      </ion-col>
      <ion-col size="4">
        {{shift_in_12h_format}}
      </ion-col>
    </ion-row>
    <!-- empty row -->
    <ion-row class="info">
      <ion-col size="4">
        <!-- emptyy -->
      </ion-col>
      <ion-col>
          <!-- emptyy -->
      </ion-col>
    </ion-row>

    <!-- fifth row -->
    <ion-row  class="info">
      <ion-col size="4">
        Shift to
      </ion-col>
      <ion-col size="4">
        {{shift_out_12h_format}}
      </ion-col>
    </ion-row>
    <!-- empty row -->
    <ion-row class="info">
      <ion-col>
        <!-- emptyy -->
      </ion-col>
      <ion-col>
          <!-- emptyy -->
      </ion-col>
    </ion-row>
    <!--  -->
  </div>
</ion-grid>