ion-icon {
    color: #111E52;
}

ion-button {
    text-transform: none;
    color: #111E52;
}

ion-toolbar {
    --background-color: transparent;
}

ion-title {
    color: #111E52;
}

ion-header{
    background: white;
}