<!-- 


        <ion-row class="clockinas">
            Clock In as
        </ion-row>


        <ion-row class="SupOrCleaner">
            <ion-col class="SupOrCleanerRadio">
                <ion-checkbox type="checkbox" id="isChecked1" name="selection" checked="checked"></ion-checkbox>
                <ion-label for="supv">Supervisor</ion-label></ion-col>
            <ion-col class="SupOrCleanerRadio">
                <ion-checkbox type="checkbox" id="isChecked2" name="selection" checked="unchecked"></ion-checkbox>
                <ion-label for="user">User</ion-label></ion-col>
        </ion-row>
-->



<ion-row class="clockinas">
    Clock In as
</ion-row>


<div class="background"></div>

<ion-row>
    <ion-col style="padding:0px;">
          <label class='radio-label' id="p1" style="margin-left:34px; border-radius: 5px 0px 0px 5px;">
              <input name='selection' type='radio' id='supv' checked='checked' (click) = 'clickSelection("p1")' >
              <span class='inner-label2'>Supervisor</span></label>
    </ion-col>

    <ion-col style="padding:0px;">
          <label class='radio-label' id="p2" style="margin-right:25px; border-radius: 0px 5px 5px 0px;">
              <input name='selection' type='radio' id='normalCleaner' (click) = 'clickSelection("p2")'>
              <span class='inner-label'>User</span></label>
    </ion-col>
    </ion-row>

    <ion-col>
        <ion-row class='bordershape'>
                <button class='button-label' style="background: #00B389; color: #FFFFFF;"(click)="submit()">
                Clock&nbsp;In</button>
        </ion-row>

        <ion-row >
                <button class='button-label' style="background: #FCFCFC; margin-top: 70px;" (click)="cancel()">
                    &nbsp;Cancel&nbsp;</button>
        </ion-row>
    </ion-col>




