.card-container{
    width: 75%;
    min-height: 50%;
    background-color: white;
    margin: 0px auto;
}

.header{
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 5vw;
    padding: 4%;
}   

.logs-header {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    border-bottom: dashed grey;
    color:black;
}

