<ion-content id = 'content'>
  <div class="backdrop">
  
  </div>
  <app-navbar></app-navbar>
  <app-details></app-details>



  <div class="logs">
    <ion-row class="header">
      <h3>Attendance History Page</h3>
    </ion-row>
    <ion-row class="filterSelectionContainer">
      <div class="filter" tappable (click)="showFilterModal('submitted')">
        <img src="../../assets/icon/filter.svg" height="11px" width="12px" />
        <span class="filterSelectionTitle">filter</span>
      </div>
    </ion-row>
  </div>

  <div id="logCardDiv">

  </div>

  <!-- Filter Model -->
  <div class="filterModal" style="display: none">
    <ion-row class="filterModalTopSection">
      <span>Filter</span>
      <button no-padding no-margin (click)="hideFilterModal(true)">
        <img src="../../assets/icon/close.svg" />
      </button>
    </ion-row>



    <ion-row class="filterSelectUser">
      <img src="../../assets/icon/user.svg" />
      <ion-label>Supervisor/Cleaner</ion-label>
      <div tappable class="select" (click)="showSelectedModal()">
        {{selectedName}}
        <button ion-button no-padding no-margin class="userFilterCloseBtn" (click)="clearSearchBar('User')"><img src="../../assets/icon/close.svg"/></button>  
      </div>
    </ion-row>

  
  
    <ion-grid class="btmFilter">
      <ion-row>
        <button ion-button outline no-padding no-margin class="clearBtn" (click)="clearSearch()">Clear</button>
        <button ion-button no-padding no-margin class="applyBtn" (click)="applyFilter()">Apply</button>
      </ion-row>
    </ion-grid>
  </div>

  <!-- User Filter Modal -->
  <div class="selectedUserFilterModal" style="display: block">
    <ion-grid no-padding>
      <ion-row class="modalToolbar">
        <div tappable class="back-btn" (click)="hideSelectedModal('selectUser','true')">
          <img src="../../assets/icon/back.svg" />
          <span>Filter</span>
        </div>
      </ion-row>
  
      <ion-row class="selectUserBottomView">
        <hr/>
        <ion-row class="userNameList">
          <ion-searchbar no-padding placeholder="Search" [(ngModel)]="this.selectedName"></ion-searchbar>
          <ion-list tappable *ngFor="let e of allUsers | filter: this.selectedName" (click)="selectedValue(e.name,e.id)">
            <ion-item>
                <ion-option>{{e.name}}<span *ngIf="this.initialSelectedName == e['name']"> (You)</span></ion-option>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-row>
    </ion-grid>
  </div>

  
</ion-content>

