.card-container{
    height: 100%;
    background-color: white;
    margin: 10px;
    overflow: scroll;
}

.header{
    width: 100%;
    background-color: darkblue;
    color: white;
    text-align: center;
    font-size: 5vw;
    padding: 4%;
}   

.logs-header {
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
    border-bottom: dashed grey;
    color:black;
}


.backdrop {
    background-color: black;
    opacity: 0.7;
    position: absolute;
    height: 100%;
    width: 100%;
}

.top{
    height: 27vw;

    .top-1{
        display: flex;
        justify-content: space-between;
        padding: 10px;

        ion-icon{
            width: 10%;
            height: auto;
        }

        .filterBtn{
            color: white;
            background-color: #ff891a;
            width: 20%;
            height: 8vw;
            font-size: 5vw;
            border-radius: 5px;
        }

    }
}
