<ion-card id='details' class="details_log" >
  <ion-card-header type="button" (click)="toggleDetails()">
      <p>Attendance Details</p>
      <ion-icon name="arrow-down"></ion-icon>
  </ion-card-header>

  <ion-card-content *ngIf="show_details" id="detailsCard">
    <ion-card-content *ngIf="!user_logged_in">
      <ion-icon size="small" slot="icon-only" name="location-outline"></ion-icon>
      {{login_prompt}}
    </ion-card-content>
    <ion-card-content *ngIf="user_logged_in">
      <h1>Mobile App Attendance</h1>
      <h2>Location Code: {{location_code}}</h2>
      <h2>Overtime Limit: {{overtime_limit}}</h2>
      <h2>Cleaner Scanning Interval {{cleaner_int}}</h2>
      <h2>Supervisor Scanning Interval: {{supervisor_int}}</h2>
      <h2>Cleaner Shift(s): {{cleaner_shifts}}</h2>
      <h2>Supervisor Shift(s): {{supervisor_shifts}}</h2>
      <h2>Supervisor(s): <br><span style="white-space: pre-line;">{{supervisors}}</span></h2>
      <h2>Cleaner(s): <br><span style="white-space: pre-line;">{{cleaners}}</span></h2>
    </ion-card-content>
  </ion-card-content>
</ion-card>