ion-card {
    border-radius: 0;
    margin-top:0;
}

ion-card-content{
    background-color: #c0dcfa;
    color:black;
    padding-left:20;

    h1 {
        font-size: 6vw;
    }
    h2{
        font-size: 4vw;
    }
}

ion-card-header {
    display:flex;
    justify-content: space-between;
    padding:5px 20px;
}

ion-icon{
    align-self: center;
    width:10%;
    height:4vw;
}

// #details{
//     --background:#DEE9FF;
// }