<ion-content>
  <div class="login-bg-holder">
    <ion-fab top right slot="fixed" class="server-loc-fab">
      <button ion-fab>
        <ion-list>
          <ion-item>
            <ion-label stacked>Server</ion-label>
            <ion-select [interfaceOptions] = "selectOptions" okText="Okay" interface="alert" type="server_location" [(ngModel)]="log.server_location" name="server_location">
              <ion-select-option value="SG-1">SG-1</ion-select-option>
              <ion-select-option value="SG-2">SG-2</ion-select-option>
              <ion-select-option value="Canada">Canada</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </button>
    </ion-fab>
  </div>

  <div class="login-box">
    <form (ngSubmit)="login()" #registerForm="ngForm">
      <ion-grid no-padding class="Login_container">
        <ion-row>
          <img src="../../assets/simpple_tagline.svg"/>
        </ion-row>
        <ion-row class="Login_header">
          <h2>Sign In</h2>
        </ion-row>
        <ion-row>
          <ion-col no-padding>
            <ion-list>
              <ion-item>
                <ion-label stacked>Location Code</ion-label>
                <ion-input type="text" placeholder="Type Location Code here" [(ngModel)]="log.location_code" name="location_code" required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label stacked>Password</ion-label>
                <ion-input type="password" placeholder="Type Password here" [(ngModel)]="log.password" name="password" required></ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row class="login_btn_box">
          <button ion-button class="submit-btn" type="submit" [disabled]="!registerForm.form.valid"> SIGN IN </button>
        </ion-row>
      </ion-grid>
    </form>
  </div>

</ion-content>
